header {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 1em 1.5em;
  width: 100%;
  color: white;
}

.logo,
.navbar {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.fa-github {
  margin-right: 0.4em;
  align-self: center;
}

header a {
  text-decoration: none;
  color: white;
}

.navbar a:first-of-type {
  margin-right: 1em;
}
